// Font
$mainFont                : 'Roboto-Regular', Arial, sans-serif;
$mainFontBold            : 'Roboto-Bold', Arial, sans-serif;
$mainFontLight           : 'Roboto-Light, Arial, sans-serif';  


// Size
$mainFontColor           : #ffffff;
$mainFontSize            : 20px;
$mainFontWeight          : 300;
$mainLineHeight          : 1.4;

$desktopWidth            : 1920px;
$desktopTextAdaptive     : 1450px;
$smDesktopWidth          : 1080px;
$tableWidth              : 920px;
$phoneWidth              : 620px;
$smPhoneWidth            : 430px;
